:root{
    scroll-behavior: smooth;
    --bg-img: url(/static/img/lagoVerde.jpg) ;
    --bg-color:red;
}

body{
    background: var(--bg-img);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}