:root{
    scroll-behavior: smooth;
    --bg-color:black;
    --text-color:rgb(253, 249, 14);
    --bg-img:url(/static/img/portadaPalmerasMoradas.jpg);
}
*{
    padding: 0%;
}
body{
    background-image: var(--bg-img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
}

.container-lg .login{
    margin: 1cm;
    border: 2px solid black;
    text-align: center;
}
.container-lg .login .form{
    margin: 2cm;
}

.container-lg .login .form .row h1{
    color: var(--text-color);
   margin: 1cm;
   
}
.container-lg .login .form .row label{
    color: var(--text-color);
}

.container-lg .login .form button{
    color: var(--text-color);
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 2px;
    background: rgba(5,7,12,0.40);
    opacity: 90%;
    
}
.container-lg{
    display: flex;
    align-items: center;
    justify-content: center;
}