:root {
    scroll-behavior: smooth;
    --color-primario:rgb(16, 143, 143) ;
    --bg-primario:rgb(204, 30, 30);
    --text-size: 1.5rem;
  }

  body{
    background-color: var(--bg-primario);
    color: var(--color-primario);
  }

  .container-lg .group .container .row .col-4{
    border: 2px solid black;
    background: plum;
  }

  .container-lg .group .container .row .col-8{
    border: 2px solid black;
    background: powderblue;
  }

  .container-lg .group{
    background: purple;
  }

  .container-lg .group  .container{
    background: yellow;
  }

  .container-lg .group .container .row .col{
    border: 2px solid green;
  }

  .container-lg .group h1{
    text-align: center;
    background: blue;
  }